h1 {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

img {
	float: right;
	max-width: 350px;
	margin-top: 155px;
	margin-bottom: 15px;
}

section {
	float: left;
	max-width: 600px;
	text-align: center;
	font-size: 20px;
}
