h1 {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

img {
	float: left;
	max-width: 350px;
	margin-top: 155px;
	margin-bottom: 15px;
}

section {
	float: center;
	max-width: 600px;
	text-align: center;
	margin-left: 15px;
	font-size: 20px;
}

.jumbotron {
	text-align: center;
}
